# Python Files
__pycache__/
*.pyc

# KDevelop Files
*.kdev4
.kdev4/

# Kate Files
*.kate-swp

# Program Files
*.db
*.log

# System Files
.directory

# Plushie Excludes
config.json

# Tox ignores
.tox/
